
module.exports = {

  port: process.env.PORT || 8080,

  connections: {
    MysqlServer: {
      adapter: 'sails-mysql',
      host: 'localhost',
      user: 'username',
      password: 'password', 
      database: 'todo'
    }
  },
  
  environment: process.env.NODE_ENV || 'development'

};
